bidict
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-SocketIO
Flask-WTF
greenlet
h11
idna
itsdangerous
Jinja2
loguru
MarkupSafe
psycopg2-binary
python-engineio
python-slugify
python-socketio
pytz
requests
simple-websocket
slugify
SQLAlchemy
sqlalchemy-serializer
text-unidecode
typing_extensions
unicode
urllib3
Werkzeug
win32_setctime
wsproto
WTForms
