{% block content %}
    <h1 class="high" style="color: green">О проекте</h1>
    <p class="high" style="color: red">Wtforum is a small community forum created by three enthusiasts in just two months. Our goal is to build a simple yet functional platform for discussions about everything.
Powered by Flask for the backend, HTML/CSS for frontend styling, and SQLite for data storage, the forum includes core features like user registration, thread creation, and comments.
As our second collaborative project, we're continuously improving it. Join us to share knowledge or suggest new ideas!
        {% endblock %}