{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h2>Добавить тему</h2>
        <form method="POST" action="" class="add-topic-form">
            {{ form.csrf_token }}

            <label for="{{ form.name.id }}">{{ form.name.label }}</label>
            <input type="text" id="{{ form.name.id }}" name="{{ form.name.name }}" {{ form.name.render_kw }}>

            <label for="{{ form.about.id }}">{{ form.about.label }}</label>
            <textarea id="{{ form.about.id }}" name="{{ form.about.name }}" {{ form.about.render_kw }}></textarea>

            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}