<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ main_title }} {{ topic_slug }}</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="header">
    <h1><a href="/" style="text-decoration: none; color: inherit;">WTForum</a></h1>
    <ul class="header-menu">
        <li><a href="#">О форуме</a></li>
        <li><a href="{{ url_account_or_login }}">{{ label_account_or_login }}</a></li>
    </ul>
</div>

<div class="container">
    <div class="sidebar">
        <h2>Темы</h2>
        <ul>
            {% for item in topics_list %}
            <li><a href="{{ url_for('show_topic', topic_slug=item.slug) }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="/add_topic" class="add-topic-button">Добавить тему</a>
    </div>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>