<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ main_title }}</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="header">
    <h1><a href="/" style="text-decoration: none; color: inherit;">WTForum</a></h1>
    <ul class="header-menu">
        <li><a href="#">О форуме</a></li>
        <li><a href="{{ url_account_or_login }}">{{ label_account_or_login }}</a></li>
    </ul>
</div>

<div class="container">
    <div class="sidebar">
        <h2>Темы</h2>
        <ul>
            <li><a href="#">Общие вопросы</a></li>
            <li><a href="#">Программирование</a></li>
            <li><a href="#">Дизайн</a></li>
            <li><a href="#">Маркетинг</a></li>
            <li><a href="#">Разное</a></li>
        </ul>
        <a href="#" class="add-topic-button">Добавить тему</a>
    </div>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>