<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Форум</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2>Создать новую тему</h2>
        <form method="post">
            <label for="title">Заголовок:</label><br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="content">Содержание:</label><br>
            <textarea id="content" name="content" required></textarea><br><br>

            <input type="submit" value="Создать тему">
        </form>
        <a href="{{ url_for('index') }}">Назад</a>
    {% endblock %}
</body>
</html>
