<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="header">
    <h1>Форум</h1>
    <ul class="header-menu">
        <li><a href="#">О форуме</a></li>
        <li><a href="#">Войти</a></li>
    </ul>
</div>

<div class="container">
    <div class="sidebar">
        <h2>Темы</h2>
        <ul>
            <li><a href="#">Общие вопросы</a></li>
            <li><a href="#">Программирование</a></li>
            <li><a href="#">Дизайн</a></li>
            <li><a href="#">Маркетинг</a></li>
            <li><a href="#">Разное</a></li>
            <!-- Добавьте остальные темы здесь -->
        </ul>
        <a href="#" class="add-topic-button">Добавить тему</a>
    </div>

    <div class="content">
        <!-- Здесь будет отображаться контент выбранной темы -->
        <div class="topic">
            <h2>Заголовок темы 1</h2>
            <p>Содержание первого сообщения в теме. Здесь может быть много текста. Этот текст показывает, как будет выглядеть отображение тем форума.</p>
        </div>

        <div class="topic">
            <h2>Заголовок темы 2</h2>
            <p>Содержание второго сообщения в теме.</p>
        </div>

        <!-- Добавьте остальные темы здесь -->
    </div>
</div>

</body>
</html>