{% extends "base.html" %}
{% block content %}
<div class="content">
        <div>
            <h1 class="high" style="color: purple">О проекте</h1>
            <div class="high" style="color: #333;">
                <p>
                Wtforum is a small community forum created by three enthusiasts in just two months. Our goal is to create a simple but functional platform for discussing everything in the world. For the color styling of the forum itself, we followed the opinions of all participants, regardless of their position in this project. Thanks to this approach, the forum turned out to be versatile and interesting.
            </p>
            <p>
                The forum, based on Flask for the backend, HTML, CSS, and JS for interface design, and SQLite for data storage, includes basic functions such as user registration, creating topics, and comments.
            </p>
            <p>
                This is our second joint project, which we are constantly improving. Join us to share your knowledge or suggest new ideas!
            </p>
            </div>
        </div>
</div>
{% endblock %}
