<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Registration Page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>

    <div class="container" id="login-form">
        <h2>Вход на сайт</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="login-username">Имя пользователя:</label>
                <input type="text" id="login-username" name="login-username" required>
            </div>
            <div class="form-group">
                <label for="login-password">Пароль:</label>
                <input type="password" id="login-password" name="login-password" required>
            </div>
            <button type="submit" class="button">Войти</button>
        </form>
        <div class="switch-form">
            Нет аккаунта? <a href="#" onclick="switchForm('registration-form')">Зарегистрироваться</a>
        </div>
    </div>

    <div class="container" id="registration-form" style="display: none;">
        <h2>Регистрация</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="register-username">Имя пользователя:</label>
                <input type="text" id="register-username" name="register-username" required>
            </div>
            <div class="form-group">
                <label for="register-password">Пароль:</label>
                <input type="password" id="register-password" name="register-password" required>
            </div>
             <div class="form-group">
                <label for="confirm-password">Подтвердите пароль:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" class="button">Зарегистрироваться</button>
        </form>
        <div class="switch-form">
            Уже есть аккаунт? <a href="#" onclick="switchForm('login-form')">Войти</a>
        </div>
    </div>

    <script>
        function switchForm(formId) {
            const loginForm = document.getElementById('login-form');
            const registrationForm = document.getElementById('registration-form');

            if (formId === 'login-form') {
                loginForm.style.display = 'block';
                registrationForm.style.display = 'none';
            } else if (formId === 'registration-form') {
                loginForm.style.display = 'none';
                registrationForm.style.display = 'block';
            }
        }
    </script>

</body>
</html>

