{% extends "base_login.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        <div class="Login_error">{{ message }}</div>
        {% for field in form if field.name != 'csrf_token' %}
            <div class="Inputs">
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}
