{% extends "base_login.html" %}


{% block content %}
<form action="" method="post" class="register_all">
    {{ form.hidden_tag() }}
    <div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="..\static\images\profile_anonym_photo.jpg" width="90">
                <span class="font-weight-bold">{{ form.first_name }} {{ form.last_name }}</span>
                <span class="text-black-50">{{ form.email }}</span><span>{{ form.country }}</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                      <div class="profile_button_backtohome">
                        <button class="btn btn-primary" type="button">Back to home</button>
                      </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><p>{{ form.first_name }}</p></div>
                    <div class="col-md-6"><p>{{ form.last_name }}</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><p>{{ form.email(class="form-control", type="email") }}</p></div>
                    <div class="col-md-6"><p>{{ form.phone_number }}</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><p>{{ form.country }}</p></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                        <p>{{ form.button_back_to_home(type="submit", class="profile_button_backtohome") }}</p>
                      </div>
                    </div>
                </div>
                <div class="mt-5 text-right">
                  <p>{{ form.button_edit_profile(type="submit", class="btn btn-primary profile-button") }}</p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
