{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="messages-container" id="chat">
        {% for item in messages %}
        <div class="message-box">
            <h4>{{ item.id }}</h4>
            <p>{{ item.content }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="message-input-container">
        <input type="text" class="message-input" id="message_input" placeholder="Введите ваше сообщение...">
        <button class="send-button" id="send_button">Отправить</button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();
    const topicSlug = "{{ topic_slug }}";
    const topicSlugStr = String(topicSlug);

    socket.on('connect', () => {
        socket.emit('join', { topic_slug: topicSlugStr });
    });

    socket.on('update_chat', (data) => {
        if (data.topic_slug === topicSlugStr) {
            const chatDiv = document.getElementById('chat');

            const messageBox = document.createElement('div');
            messageBox.classList.add('message-box');

            const messageId = document.createElement('h4');
            messageId.textContent = 'Новый ID (замените!)';

            const messageContent = document.createElement('p');
            messageContent.textContent = data.message;

            messageBox.appendChild(messageId);
            messageBox.appendChild(messageContent);

            chatDiv.appendChild(messageBox);

            chatDiv.scrollTop = chatDiv.scrollHeight;
        }
    });

    document.getElementById('send_button').addEventListener('click', () => {
        const messageInput = document.getElementById('message_input');
        const messageText = messageInput.value;
        if (messageText.trim() !== '') {
            socket.emit('new_message', { topic_slug: topicSlugStr, message: messageText });
            messageInput.value = '';
        }
    });

    document.getElementById('message_input').addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.getElementById('send_button').click();
        }
    });
    document.addEventListener('DOMContentLoaded', function() {
       const chatContainer = document.getElementById('chat');

       chatContainer.scrollTo({
           top: chatContainer.scrollHeight,
           behavior: 'smooth'
    });
});
</script>
{% endblock %}
