{% extends "base.html" %}

{% block content %}
<div class="content">
        <div class="messages-container">
            {% for item in messages %}
            <div class="message-box">
                <h4>{{ item.id }}</h4>
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="message-input-container">
            <input type="text" class="message-input" placeholder="Введите ваше сообщение...">
            <button class="send-button">Отправить</button>
        </div>
</div>
{% endblock %}